<app-page-header
  pageTitle="Animais"
  buttonText="+ Novo Animal"
  buttonLink="new"
  buttonClass="btn-success"
></app-page-header>

<table class="table table-hover">

  <thead>
    <tr class="bg-primary text-light">
      <th>ID</th>
      <th>Espécie</th>
      <th>Sexo</th>
      <th>Nome</th>
      <th>Nome do Pai</th>
      <th>Nome da Mãe</th>
      <th>Aniversário</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let animal of resources">

      <td>
        {{animal.id}}
      </td>

      <td>
        {{animal.specie.name}}
      </td>

      <td>
        <strong [class.text-primary]="animal.gender === 'male'" [class.text-danger]="animal.gender === 'female'">
          {{genders[animal.gender]}}
        </strong>
      </td>

      <td>
        <strong>{{animal.name}}</strong>
      </td>

      <td>
        <ng-template [ngIf]="animal.fatherId">{{animal.father.name}}</ng-template>
      </td>

      <td>
        <ng-template [ngIf]="animal.motherId">{{animal.mother.name}}</ng-template>
      </td>

      <td>
        {{dataFormatada(animal.birthday)}}<br>
        <small class="text-success">{{idade(animal.birthday)}}</small>
      </td>

      <td class="text-center">
        <a [routerLink]="[animal.id, 'tree']" class="btn btn-outline-info btn-sm mr-2">
          <fa-icon [icon]="faTree"></fa-icon>
          Árvore
        </a>

        <a [routerLink]="[animal.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">
          <fa-icon [icon]="faPen"></fa-icon>
          Editar
        </a>

        <button (click)="deleteResource(animal)" class="btn btn-outline-danger btn-sm">
          <fa-icon [icon]="faTrash"></fa-icon>
          Excluir
        </button>
      </td>

    </tr>
  </tbody>

</table>
